span {
  color: aqua;
}
.click {
  background-color: #4caf50;
  border: 2px solid #4caf50;
  padding: 10px 15px;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}
.fruits {
  list-style: none;
  font-size: larger;
  font-weight: 700;
}
.click-to-youtube {
  background: transparent;
  border: 2px solid #4caf50;
  padding: 10px 15px;
  color: #4caf50;
  margin-bottom: 20px;
  border-radius: 5px;
}
.click-to-youtube:hover {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}
.one {
  background: #a4cea6;
  padding: 80px 0px;
}
.xyz {
  padding: 20px;
  background: #fff;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 15px;
}
nav {
  background: aliceblue;
}
.list a {
  text-decoration: none;
}
.section-two {
  background: #f7f7f7;
  padding: 80px 0px;
}
/* .contact-image {
  width: 100%;
} */
